{% extends 'base.html.twig' %}

{% block title %} {{ product.name}} {% endblock %}

{% block content %}

    <div class="row">
            <div class="col-md-5"> 
                    <img src="/uploads/{{product.illustration}}" alt="{{ product.name}}" class="img-fluid"/>
            </div>
            <div class="col-md-7 my-auto"> 
                    <h5> {{ product.name}} </h5>
                    <small> {{ (product.price / 100) | number_format(2,',','.') }}€ </small>
                    <hr /> 
                    <h6> {{product.subtitle}} </h6>
                    <hr> 

                    <p> {{ product.description }} </p>

                    <a href="{{ path('add_to_cart', {'id' : product.id}) }}" class="btn btn-primary"> Ajouter au panier </a>
            </div>

            
    </div>
    
{% endblock %}
